body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

#grid {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 10%;
  background-color: black;
  justify-content: flex-end;
  padding: 0px 36px;
  position: sticky;
  top: 0;
}

.buttons {
  display: flex;
}

#home {
  display: flex;
  flex: 85%;
  background-color: lightgrey;
  background-image: url(images/home.jpg);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
}

#about {
  display: flex;
  flex: 85%;
  background-color: black;
  background-image: linear-gradient(to bottom right,white, lightgrey);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
  display: flex;
  flex: 85%;
  background-color: black;
  background-image: linear-gradient(to bottom right, white, grey);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  display: flex;
  flex: 85%;
  background-color: black;
  background-image: linear-gradient(to bottom right, white, grey);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  flex: 5%;
  background-color: black;
}

h5 {
  color: white;
  padding: 20px;
  margin: 0;
}

h1 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
}

p {
  color: black;
  padding: 5px;
  margin: 10px;
}

.container {
  min-height: 400px;
  max-height: 5000px;
  max-width: 900px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  height: 100px;
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;
    background-image: url(images/home.jpg);
    background-repeat: no-repeat;
  }
.boxabout {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 0;
  padding: 0;
  background-image: url(images/about.jpg);
  background-repeat: no-repeat;
}

.boxPJ {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 0;
  padding: 0;
  background-image: url(images/about.jpg);
  background-repeat: no-repeat;
}
  .box2 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 5px;
    padding: 5px;
  }

  .box3 {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2%; 
  }

.box4 {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
    margin: 0;
    padding: 10px 0px;
  }


.innerbox {
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
    margin: 10px;
    padding: 10px;
}

button {
  height: 20px;
  width: 40px;
  color: white;
  background-color: black;
  padding: 15px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 29px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(77, 75, 75);
}

a:link {
  color: blue;
}

a:hover {
  color: white;
}

img {
  margin: 40px;
  padding: 50px;
}
